<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERAPI</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <header>
        <h1>USERAPI</h1>
    </header>
    <main>
        <form action="/login" method="post">
            <input type="text" placeholder="id" name="id">
            <input type="password" placeholder="pw" name="pw">
            <button>로그인 </button>
        </form>
    </main>
</body>

</html>