<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기임</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>

    <h3>글쓰기</h3>
    <form action="/login/write" method="post">
        <input type="text" name="title" placeholder="제목쓰셈"><br>
        <textarea name="description" placeholder="내용쓰셈" rows="30"></textarea><br>
        <button>글쓰기</button>
    </form>

</body>
</html>